.bbh-sans-bartle-regular {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  /*fonts*/

body,html{
    --noir: #242424;
    --vert-fonce:#35BA14;
    --vert-jaune: #B6EB17;
    --blanc: #FFFFFF;
    background-color: var(--noir);
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    z-index: 2;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 4%;
    box-shadow: inset 0 0 5px #FFFFFF6a;
    border: 3px solid #FFFFFF6a ;
    gap: 20%;
    height: 10%;
    width: 40%;
    font-size: 25px;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    text-decoration: none;
}
nav:hover{
    box-shadow: inset 0 0 10px #ffffff9a;
    border: 3px solid #ffffff9a ;
    background-color: #242424;
}
header nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
nav a:hover{
    color: transparent;
    background: linear-gradient(135deg,
     var(--blanc),
     var(--blanc),
     var(--blanc),
     var(--noir),
     var(--noir),
     var(--blanc),
     var(--blanc),
     var(--blanc));
    background-size: 600% 600%;
    background-clip: text;
    animation: anime_titre 2s ease forwards;
    scale: 1.05;
}

.panier{
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    float: right;
    margin-top: 24px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0 0 10px #FFFFFF6a;
    border: 3px solid #FFFFFF6a;
}
.panier img{
    width: 100%;
    height: 80%;
}
.titre{
    text-align: center;
    color: transparent;
    background: linear-gradient(135deg,
     var(--vert-jaune),
     var(--vert-fonce),
     var(--vert-jaune));
    background-size: 600% 600%;
    background-clip: text;
    font-size: 40px;
    animation: intro_titre 1s ease forwards, anime_titre 4s ease infinite;
    z-index:-1;
    margin-top: 10%;
}

.images_acc #img_g{
    width: 40%;
    float: left;
    margin-left: -5%;
    animation: image_g_intro 1s ease forwards;
}
.images_acc #img_d{
    width: 30%;
    float: right;
    margin-right: -5%;
    animation: image_d_intro 1s ease forwards;
}

.intro{
    height: 300px;
    background-color: var(--vert-fonce);
    text-align: start;
    padding: 50px;
    margin-top: 800px;
    overflow: hidden; 
    box-shadow: 0  -10px 400px var(--vert-fonce);
}
.slider{
    width: 100%;
}
.slider .liste{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10%;
}

.slider .liste h1{
    left: 100%;
    position: absolute;
    white-space: nowrap;
    font-size: 80px;
    text-shadow: 0 0 10px #1c1c1c8f;
    color: var(--vert-jaune);
    width: 100%;
    animation: defilement 6s linear infinite;
    animation-delay: calc((var(--position) * 1.75s) - 1s);
}

.intro p{
    font-size: 70px;
    background-color: #B6EB17; 
    padding-left: 20px;
    color: var(--vert-fonce);
    margin-top: 150px;
}
.shop{
    height: 600px;
}
/*animation*/


@keyframes intro_titre{
    0%{
        opacity: 0;
        transform: translateY(-100px); 
    }
    100%{
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes anime_titre{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes image_g_intro{
    0%{
        opacity: 0.7;
        transform: translateX(-100px)  rotateZ(0);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotateZ(20deg);
    }
}
@keyframes image_d_intro{
    0%{
        opacity: 0.7;
        transform: translateX(100px)  rotateZ(0);
    }
    100%{
        opacity: 1;
        transform: translateX(0) rotateZ(-20deg);
    }
}

@keyframes defilement{
    0%{
        left: 100%;
    }
    100%{
        left: -70%;
    }
}
/*responsive*/

@media (max-width: 767px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav{
        z-index: 2;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        backdrop-filter: blur(10px);
        top: 1%;
        box-shadow: inset 0 0 10px #FFFFFF6a;
        border: 3px solid #FFFFFF6a ;
        gap: 15%;
        height: 5%;
        width: 60%;
        font-size: 15px;
        border-radius: 50px;
        transition: all .4s ease-in-out;
    }
    
    nav a {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    
    .titre{
        text-align: center;
        color: transparent;
        background: linear-gradient(135deg,
         var(--blanc),
         var(--vert-jaune),
         var(--vert-fonce),
         var(--noir),
         var(--noir),
         var(--vert-fonce),
         var(--vert-jaune),
         var(--blanc));
        background-size: 600% 600%;
        background-clip: text;
        font-size: 20px;
        animation: intro_titre 1s ease forwards, anime_titre 5s ease infinite;
        z-index:-1;
        margin-top: 20%;
    }
    
    .images_acc #img_g{
        width: 80%;
        float: left;
        margin-left: -10%;
        animation: image_g_intro 1s ease forwards;
    }
    .images_acc #img_d{
        width: 60%;
        float: right;
        margin-right: -10%;
        margin-top: -50px;
        animation: image_d_intro 1s ease forwards;
    }
    .slider{
        width: 100%;
    }
    .slider .liste{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10%;
    }

    .slider .liste h1{
        left: 100%;
        position: absolute;
        white-space: nowrap;
        font-size: 40px;
        text-shadow: 0 0 10px #1c1c1c8f;
        color: var(--vert-jaune);
        width: 100%;
        animation: defilement 6s linear infinite;
        animation-delay: calc((var(--position) * 1.8s) - 2s);
    }
    .intro{
        height: 200px;
        background-color: var(--vert-fonce);
        text-align: start;
        padding: 10px;
        margin-top: 500px;
        overflow: hidden; 
        box-shadow: 0  -10px 400px var(--vert-fonce);
    }
    .intro p{
        font-size: 30px;
        background-color: #B6EB17; 
        padding-left: 5px;
        color: var(--vert-fonce);
        margin-top: 100px;
    }

    /*respondsive animation*/

    @keyframes defilement{
    0%{
        left: 100%;
    }
    100%{
        left: -400%;
    }
    }
}
