/* ==================== BODY ==================== */
body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ==================== HEADER ==================== */
header {
    position: fixed;
    display: flex;
    top:10px;
    background-color: white;
    border-radius:50px;
    border: solid 1px gray; 

    /* Animation */
    animation: anim-header 1s;
}

header a {
    display:flex;
    margin:20px;
    gap:20px;
    text-decoration:none;
    color:black;
}

/* ==================== ANIMATIONS ==================== */
/* = https://www.youtube.com/shorts/U8XtSxfaQQw = */
/* ===== HEADER ===== */
@keyframes anim-header {
    0% { 
        transform: translateY(-100%);
    }
    25% {
        transform:rotateZ(45deg);
    }
    45% {
        transform:rotateZ(-45deg);
    }
    65% {
        transform:rotateX(90deg);
    }
    85% {
        transform: translateY(50%);
        transform:scale(1.5);
    }
}

/* ==================== RESPONSIVE ==================== */
